html, body {
	/*overflow: hidden;*/
	margin: 0;
	width: 100%;
	height: 100%;
}
#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#91e5ff, #d8f0e9);
}

progress {
	z-index:99;
	position: absolute;
	height: 20px;
	width: 250px;
	right:0;
	margin:20px;
}

.coins {
	z-index:99;
	position: absolute;
	color: yellow;
	top:27;
	right:235;
	margin:20px;
	font-weight: bold;
	font-size: 20px;
}

button {
	z-index: 99;
	position: absolute;


}
button:hover {
  background-color: red; /* Green */
  color: white;
}

.healthLabel {
	z-index:99;
	position: absolute;
	right:260;
	margin: 20px;
	font-family: sans-serif;
	font-weight: bold;

}

.coinsLabel {
	z-index:99;
	position: absolute;
	top:30;
	right:260;
	margin: 20px;
	font-family: sans-serif;
	font-weight: bold;

}

.reset {
	height:30px;
	width:100px;
	bottom:0;
	right:0;
	margin:20px;
	transition-duration: 0.4s;
	font-weight: bold;
	font-size: 16px;
	font-family: sans-serif;
	border-radius: 12px;
	border: 2px solid #f25346;
}

.gameOverLabel {
	z-index: 99;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
	margin-left: -60px;
	text-align: center;
}

.winLabel {
	z-index: 99;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
	margin-left: -60px;
	text-align: center;
}

.restart {
	height:30px;
	width:100px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -65px;
}

.recordLabel {
	z-index:99;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
	margin-left: -65px;
	text-align: center;
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}