html, body {
	/*overflow: hidden;*/
	margin: 0;
	width: 100%;
	height: 100%;
}
#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#91e5ff, #d8f0e9);
}

progress {
	z-index:99;
	position: absolute;
	height: 20px;
	width: 250px;
	right:0;
	margin:20px;
}

.coins {
	z-index:99;
	position: absolute;
	color: yellow;
	top:27;
	right:235;
	margin:20px;
	font-weight: bold;
	font-size: 20px;
}

button {
	z-index: 99;
	position: absolute;


}
button:hover {
  background-color: red; /* Green */
  color: white;
}

.healthLabel {
	z-index:99;
	position: absolute;
	right:260;
	margin: 20px;
	font-family: sans-serif;
	font-weight: bold;

}

.coinsLabel {
	z-index:99;
	position: absolute;
	top:30;
	right:260;
	margin: 20px;
	font-family: sans-serif;
	font-weight: bold;

}

.reset {
	height:30px;
	width:100px;
	bottom:0;
	right:0;
	margin:20px;
	transition-duration: 0.4s;
	font-weight: bold;
	font-size: 16px;
	font-family: sans-serif;
	border-radius: 12px;
	border: 2px solid #f25346;
}

.gameOverLabel {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
	margin-left: -60px;
	text-align: center;
}

.restart {
	height:30px;
	width:100px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -65px;
}
